* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background: #f2f8ff;
    color:  #000000;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  p {
    font-size: 1rem;
    color: #637892;
    padding: 0 1rem;
  }